*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: lightgray
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:darkorchid; }

header{
    background-color: orange;
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: darkmagenta;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/student-g436888.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#Nosotros .container{
    text-align: center;
    padding: 200px 12px;

    
}

#Viajes-de-Estudio .container{
    text-align: center;
    padding: 200px 12px;
}

#Cursos{
    background-color: darkmagenta;
    color: white;
    text-align: center;
}

#Cursos .container{
    padding: 150px 12px;
}

#Cursos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Cursos p{
    display: none;
}

#Cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/people-gbcaa.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/office-g2726.jpg");
}


#Contacto .container{
    text-align: center;
    padding: 250px 12px;
}

#Contacto li{
    margin: 16px 0px;
    font-weight: bold;
}

footer{
    background-color: white;
}

footer p{
    margin: 0;
    padding: 12px;
    color: black;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #Nosotros .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Nosotros h2{
        margin-top: 0px;
    }

    #Nosotros .img-container{
        background-image: url("imagenes/logo.jpg");
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 1000px; 
    }

    #Viajes-de-Estudio .container{
        text-align: flex;
        justify-content: space-evenly;
    }


    #Viajes-de-Estudio h2{
        margin-top: 0px;
    }


    
    #Cursos .programas{
        display: flex;
        justify-content: center;
    }

    #Cursos p{
        display: block;
        margin-bottom: 30px;
    }

    #Cursos h2{
        font-size: 4em;
    }

    #Cursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/people-gbcaa.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/office-g2726.jpg");
    }

    #Contacto .container{
        text-align: initial;
    }

    #Contacto ul{
        margin-left: 100px;
    }
}

@media (min-width: 1200px) {
    #Contacto{
        background-position-x: calc(100vw - 800px);
    }
}